{# templates/components/data/table.html #}

{% macro table(columns, rows) %}
<table class="table">
    <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col.label }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for row in rows %}
            <tr>
                {% for col in columns %}
                    <td>
                        {{ attribute(row=row, col=col.key) | safe }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro table %}